@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 16px;
	background-color: #0f1b38;
}

body {
	color: white;
}

p,
span,
h1,
h2,
h3 {
	user-select: none !important;
	pointer-events: none;
}

.tonConnectButton {
	width: 100% !important;
}

.tonConnectButton button {
	width: 100% !important;
	justify-content: center;
	background: #2866b9 !important;
	height: 45px !important;
	border-radius: 25px;
}

.tonConnectButton div {
	width: 100%;
}

.tonConnectButton svg {
	display: none !important;
}
